body {
  background-color: rgb(143, 143, 153);
}
.nav-bar{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 0.5em;
  padding: 5px;
  padding-top:15px;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
  background-color: rgba(0, 7, 5, 0.945);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.searchBar{
  margin-top: 30px;
  padding: 10px;
  margin-left: 10%;
  border-radius: 0.7em;
  background-color:none;
}
.searchInput{
  grid-area: s;
  padding:5px;
  font-family: 'Acme', serif;
  border:none;
  border-radius: 0.7rem;
  width: 550px;
  height: 40px;
  font-size: 20px;
}
.search{
  grid-area: i;
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  font-size: 25px;
}
.searchOpt{
  margin-left: 30%;
}
.title{
  font-size: 20px;
  border: none;
  background: none;
  cursor: grab;
  font-family: 'Noto Serif', serif;
}
.tag{
  font-size: 20px;
  border: none;
  background: none;
  cursor: grab;
  font-family: 'Noto Serif', serif;
}
.title:active{
  cursor: grabbing;
}
.tag:active{
  cursor: grabbing;
}
.putAnUnderline{
  text-decoration:underline;
  color: blue;
  border: none;
  background: none;
  font-size: 20px;
  cursor: grab;
  font-family: 'Noto Serif', serif;
}
.topTenSearchTerms{
  margin-left: 5%;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: grab;
  font-family: 'Noto Serif', serif;
}
#popUp-Box{
height: fit-content;
width:220px;
position: fixed;
background-color: black;
left: 5%;
padding: 10px;
top: 33%;
font-size: 20px;
font-family: 'Noto Serif', serif;
color: yellow;
}
.close{
  margin-left: 93%;
  cursor: pointer;

}
.postsContainer{
  margin-left: 30%;
  padding: 20px;
  

}
.postDisplay{
  display: grid;
  grid-template-areas: 
  't . d'
  'i i i'
  '. . p';
}
.title{
  grid-area: t;
}
.details{
  grid-area: d;
}
.image{
  grid-area: i;
  justify-self: center;
}
.type{
  grid-area: p;
}
